include README.md
include snowpyt/Standard_pit.png


include snowpyt/basal_ice.png
include snowpyt/cavity_crevasse_hoar.png
include snowpyt/chains_of_depth_hoar.png
include snowpyt/cluster_rounded.png
include snowpyt/faceted.png
include snowpyt/faceted_rounded.png
include snowpyt/hollow_cups.png
include snowpyt/hollow_prism.png
include snowpyt/ice.png
include snowpyt/ice_column.png
include snowpyt/large_rounded.png
include snowpyt/melt_freeze_crust.png
include snowpyt/near_surface_faceted.png
include snowpyt/partly_decomposed.png
include snowpyt/rain_crust.png
include snowpyt/recent_snow.png
include snowpyt/rounded_polycrystals.png
include snowpyt/rounding_depth_hoar.png
include snowpyt/rounding_faceted.png
include snowpyt/rounding_surface_hoar.png
include snowpyt/slush.png
include snowpyt/snowflake.ai
include snowpyt/snowflake.svg
include snowpyt/snowflake_2.ai.svg
include snowpyt/SnowflakesymbolCheasheet.png
include snowpyt/SnowflakesymbolCheasheet_black.png
include snowpyt/SnowflakesymbolCheasheet_black.svg
include snowpyt/sun_crust.png
include snowpyt/surface_hoar.png
include snowpyt/wind_broken_precip.png
include snowpyt/wind_packed.png

include snowpyt/data_example/20170209_Finse_snowpit.csv
include snowpyt/data_example/20170209_Finse_snowpit.xlsx
include snowpyt/data_example/Standard_pit.xlsx